@import url('https://fonts.googleapis.com/css2?family=Lato&family=Lobster+Two&display=swap');

html{
    font-family: 'Lato', arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

body, h2, h4, ul, a{
    max-width: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

a{
  text-decoration: none;
}

.main-title{
    font-family: 'Lobster Two', arial, Helvetica, sans-serif;
    width: 100%;
    background-color: #cf3f3f;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0px 4px 6px #222222;
    z-index: 9999999;
    padding:  1% 0;
}
.main-title h2{
    font-size: 36px;
    padding: 3px;
    text-align: center;
}

.main-title h2 a{
    color: white;
    text-decoration: none;
    outline: none;
}

.banner-div{
    width:  100%;
    height:  560px;
    background-image: url('../assets/images/bulb.jpg');
    background-repeat: no-repeat;
    background-size:  cover;
    background-attachment: fixed;
    background-position: bottom;
}
.banner-text{
    position: absolute;
    top: 15%;
    left: 0.5%;
    background-color: rgb(68, 16, 181);
    border-radius: 9999px;
    box-shadow: 4px 5px 6px #222222;
    margin-top: 8%;
    z-index: 0;
}
.banner-text h2{
    font-size: 64px;
    padding: 20px 30px;
    color: cornsilk;
}
/*Nav*/

nav{
    position: sticky;
    width: 100%;
    margin:  0 auto;
    background-color: #222222;
    position: sticky;
    top: 9%;
    box-shadow: 0px 2px 3px #222222;
    z-index: 99;

}

nav ul{
    width: 60%;
    margin: 0 auto;
    list-style-type: none;
    white-space: nowrap;
    text-align: center;
}

nav ul li{
    display: inline-block;
    padding: 2% 0%;
}

nav ul li a{
    font-size: 24px;
    color: #b3b3b3;
    outline: none;
    padding: 0px 20px;
    transition: 0.2s;
}

nav ul li a:hover{
    color: #ffffff;
}

/*Nav bar for mobile before jquery*/
.nav-bar{
    max-width: 100%;
    visibility: hidden;
    height: 0;
    z-index:  99;
}

/*end of nav*/

/*article*/

main{
    width: 60%;
    margin: 50px auto;
    box-sizing: border-box;
    text-align: justify;
    z-index: -1;
}

main article{
    margin-bottom: 8%;
}

main article .img-div{
    position: static;
    max-width: 100%;
    margin: 5% auto;
}

main article img{
    max-width: 40%;
    max-height: 40%;
    margin: 2% 4%;
    white-space: nowrap;
    transition: 0.2s;

}

main article img:hover{
    transform: scale(1.03);
    box-shadow: 4px 4px 10px #222222;
}

main article h2{
    font-size: 36px;
}

main article h5{
    font-size: 16px;
    margin: 1% 0  3% 0;
}

main article p{
    line-height: 1.7em;
}
form{
    max-width: 60%;
    margin: 50px auto;
    padding: 20px;
    background-color: #333333;
    color: #ffffff;
    text-align: center;
}
form label{
    margin-right: 2%;
}
form input{
    border-radius: 9999px;
    width: 30%;
    padding: 0.5%;
    margin-right: 10px;
}
form input:valid{
    border-color: green;
}

form button{
    border-color: #333333;
    border-radius: 9999px;
    font-weight: 500;
    padding: 4px;
    width: 8%;
    text-align: center;
    background-color: #fffff0;
    transition: 0.1s;
}
form button:hover{
    transform: scale(1.04);
}

/*Footer*/

footer{
    position: static;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #ffffff;
    text-align: center;
    background-color: #222222;
    padding: 1% 0;
}
footer span{
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
}

/*End of main styling*/

/*Adding repsonsive design*/

@media screen and (max-width: 1200px){

.banner-text h2{
    font-size: 32px;
}
  nav{
      top: 9.5%;
}

}

@media screen and (max-width: 1024px){

  nav{
    top: 9%;
  }

  .nav-bar{
    position:  sticky;
    top: 9%;
    z-index: 999;
    }

@media screen and (max-width: 768px){
    .main-title{
        position: static;
    }

    .banner-div{
        height: 400px;
        background-size: contain;
        background-position: top;
    }
    .banner-text h2{
        font-size: 28px;
        width: 100%;
        padding: 30px;
    }

    .nav-bar{
        position: sticky;
        top: 0%;
        margin-top: -2px;
        visibility: visible;
        height: 50px;
        background-color: #333333;
    }

    .nav-bar i{
        color: #ffffff;
        font-size: 30px;
        margin: 10px 10px;
        float: right;
        cursor: pointer;
    }

/*Jquery toggle class*/

    nav.open{
        visibility: hidden;
        height: 0;
    }

    nav{
        top: 5%;
    }

    nav ul{
        width: 100%;
    }

    nav ul li{
        display: block;
        width: 100%;
        padding-bottom: 10px;
        border-bottom: 1px solid #333;
        text-align: left;
    }

    main{
        width:  75%;
    }

    main article img{
        max-width: 100%;
        margin: 10px auto;
    }

    form{
        max-width: 85%

    }
    footer{
        padding: 3%;
    }
}

@media screen and (max-width: 480px){

    .main-title{
        position: static;
    }

    .banner-div{
        height: 240px;
        background-position: top;
        background-size: contain;
        background-attachment:  fixed;
    }

    .banner-text h2{
        position: static;
        top: 10px;
        width: 100%;
        font-size: 18px;
        padding:  20px;
        text-shadow: 4px 4px 6px #222222;
        background-color: transparent;
    }

    .nav-bar{
        margin-top: -15px;
    }

    nav{
        position: static;
        top: 14.5%;
    }

    .nav-bar{
        top: 8%;
    }

    main{
        width: 90%;
    }

    form{
        max-width: 85%;
    }

    form input{
        width: 70%;
        margin: 20px auto;
        padding: 8px;
        border-radius: 0;
    }
    form button{
            width: 80px;
            padding: 5px;
    }

}

}
